*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
image{
    display: block;
}
a{
    text-decoration: none;
    color: #000;
}
i,b,em{
    font-style: normal;
}
html,body,#app{
    width: 100%;
    height: 100%;
}